{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="{% if automaton %}col-lg-3{% else %}col-lg-12{% endif %}">
        <form method="POST" action="{{ url_for('analyze_grammar') }}">
            <label for="type">Type</label>
            <div clas="control-group">
                {{ form.type(class_='form-control') }}
            </div>
            <div class="control-group">
                <label for="terminals">Terminals</label>
                {{ form.terminals(rows=3, class_='form-control', placeholder="Enter a space-separated terminal symbol list. A terminal symbol must contain only alphanumeric characters.") }}
                {% for error in form.terminals.errors %}
                    <span class="text-danger">{{ error }}<br /></span>
                {% endfor %}
            </div>
            <div class="control-group">
                <label for="start">Start symbol</label>
                {{ form.start(class_='form-control', placeholder="Optional") }}
            </div>
            <div class="control-group">
                <label for="productions">Productions</label>
                {{ form.productions(rows=10, class_='form-control', placeholder="Enter productions using YACC syntax.") }}
                {% for error in form.productions.errors %}
                    <span class="text-danger">{{ error }}<br /></span>
                {% endfor %}
            </div>
            <div style="margin-top:10px;">
            <button type="submit" class="btn btn-lg btn-primary">
                Analyze
            </button>
            </div>
        </form>
    </div>
    {% if automaton %}
    <div class="col-lg-9">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#general" data-toggle="tab">General</a></li>
          <li><a href="#state-graph" data-toggle="tab">State graph</a></li>
          <li><a href="#table" data-toggle="tab">Table</a></li>
          <li><a href="#simulation" data-toggle="tab">Parser simulator</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="padding-top:10px;">
          <div class="tab-pane active" id="general">
            <h4>Augmented grammar</h4>
            <div class="well">
            {% for num,production in automaton.augmented_grammar %}
            {{num}}: {{ production|replace("<empty>", "ε")|replace("$end", "$") }} <br />
            {% endfor %}
            </div>
            <h4>First sets</h4>
            <div class="well">
            {% for k,v in automaton.first.items() %}
                FIRST({{ k }}) = { {{ v|join(', ')|replace("<empty>", "ε")|replace("$end", "$") }} }<br />
            {% endfor %}
            </div>
            <h4>Follow sets</h4>
            <div class="well">
            {% for k,v in automaton.follow.items() %}
                FOLLOW({{ k }}) = { {{ v|join(', ')|replace("<empty>", "ε")|replace("$end", "$") }} }<br />
            {% endfor %}
            </div>
            {% if warnings %}
                <h4>Warnings <span class="badge">{{ warnings|count }}</span></h4>
                <div class="well">
                {% for warning in warnings %}
                    {{ warning|replace("<empty>", "ε")|replace("$end", "$") }}<br /> 
                {% endfor %}
                </div>
            {% endif %}
          </div>
          <div class="tab-pane" id="state-graph">
            <div id="state-graph-canvas" style="width:100%; height:auto; position:absolute;">
                {{ automaton.to_svg()|safe }}
            </div>
          </div>
          <div class="tab-pane" id="table" style="text-align:center;">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>State</th>
                        <th colspan="{{ automaton.terminals|count }}" class="action">Action</th>
                        <th colspan="{{ automaton.nonterminals|count }}" class="goto">Goto</th>
                    </tr>
                    <tr>
                        <th></th>
                        {% for terminal in automaton.terminals %}
                            <th class="action">{{ terminal|replace("$end","$") }}</th>
                        {% endfor %}
                        {% for nonterminal in automaton.nonterminals %}
                            <th class="goto">{{ nonterminal }}</th>
                        {% endfor %}
                    </tr>
                </thead> 
                <tbody>
                {% for state in automaton.kernel_str.keys() %}
                    <tr>
                        <td>{{ state }}</td>
                        {% for terminal in automaton.terminals %}
                            <td>
                            {% if terminal in automaton.action[state].keys() %}
                                {% set n = automaton.action[state][terminal] %}
                                {% if n >= 0 %}
                                    {% if n == 0 %}
                                        acc
                                    {% else %}
                                        s{{ n }}
                                    {% endif %}
                                {% else %}
                                    r{{ n*-1 }}
                                {% endif %}
                            {% endif %}
                            </td>
                        {% endfor %}
                        {% for nonterminal in automaton.nonterminals %}
                            <td>
                            {% if nonterminal in automaton.goto[state] %}
                                {{ automaton.goto[state][nonterminal] }}
                            {% endif %}
                            </td> 
                        {% endfor %}
                    </tr>     
                {% endfor %}
                </tbody>
            </table>
          </div>
          <div class="tab-pane" id="simulation">
            <div class="form-inline">
                <div class="form-group">
                    <input id="input_str" type="text" class="form-control" placeholder="Input string" />
                </div>
                <button id="start_btn" class="btn btn-default" onClick="start()">Start</button>
                <button id="next_btn" class="btn btn-primary" onClick="next_step()" disabled="true">Next</button>
            </div>
            <div class="tab-pane" id="table" style="text-align:center; margin-top:20px;">
                <table id="action_table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Stack</th>
                            <th>Symbols</th>
                            <th>Input</th>
                            <th>Action</th>
                        </tr>
                    </thead> 
                    <tbody>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block extrajs %}
{% if automaton %}
<script type="text/javascript">

    // Reference: Aho, Lam, Sethi, Ullman. Compilers: Principles, Techniques, & Tools. 2nd ed. pp.248-251

    // Variables for simulation state.
    var input = [];
    var stack = [];
    var symbols = [];
    var line = 0;
    var finished = true;

    // Parsing tables.
    var _goto = {
        {% for st,goto in automaton.goto.items() %}
            {{ st }} : { {% for sym,goto_st in goto.items() %} "{{sym}}" : {{goto_st}}, {% endfor %} },
        {% endfor %}
    };

    var _action = {
        {% for st,action in automaton.action.items() %}
            {{ st }} : { {% for sym,num in action.items() %} "{{sym}}" : {{num}}, {% endfor %} },
        {% endfor %}
    };

    var _reduce_rules = {
        {% for i,head,pops in automaton.reduce_rules %}
            {{ i }} : [ "{{head}}", {{pops}}],
        {% endfor %}
    };

    var _terminals = [{% for sym in automaton.terminals %} "{{ sym }}",{% endfor %}];

    function start() {

        $("#start_btn").text("Restart");
        $("#next_btn").removeAttr("disabled");
        $("#action_table > tbody").empty();

        // Extract input symbols.
        input_str = $.trim($("#input_str").val());

        if(input_str.length > 0) {
            input = input_str.split(" ");
            input.push("$end");

            // Check that input is correct.
            var valid = true;
            for (var i = 0; i < input.length; ++i) {
                if(-1 == $.inArray(input[i],_terminals)) {
                    alert("Invalid symbol: "+input[i]);
                    valid = false;
                    break;
                }
            }
            // Initialize the stack.
            if(valid) {
                stack=[0];
                finished = false;
            }
        }
        else {
            input = ["$end"];
            stack = [0];
            finished = false;
        }
        symbols = [];
        line = 0;
    }

    function next_step() {

        if(!finished && stack.length > 0 && input.length > 0) {
            var s = stack[stack.length-1];
            var a = input[0];
            var n = _action[s][a];

            if(n == undefined) {
                alert("String not accepted!");
                return;
            } 

            if(n >= 0) {
                if(n > 0) {
                    add_row("shift");
                    // Shift!
                    stack.push(n);
                    symbols.push(input.shift());
                }
                else {
                    // Accept!
                    finished = true;
                    add_row("accept");
                }
            }
            else {
                // Reduce!
                var reduce_rule = _reduce_rules[-n];
                add_row("reduce by rule "+(-n)+".");

                var head = reduce_rule[0];
                var pops = reduce_rule[1];
                for(var i = 0; i < pops; i++) {
                    stack.pop();
                    symbols.pop();
                }
                symbols.push(head);
                n = _goto[stack[stack.length-1]][head];
                stack.push(n);
            }
        }
        else {
            alert("Finished!");
        }
    }

    function add_row(action) {

        var col1 = line;
        var col2 = stack.join(" ");
        var col3 = symbols.join(" ");
        var col4 = input.join(" ").replace("$end","$");
        var col5 = action.replace("&lt;empty&gt;","ε");
        var row = "<tr><td>"+col1+"</td><td>"+col2+"</td><td>"+col3+"</td><td>"+col4+"</td><td>"+col5+"</td></tr>";
        line = line+1;
        $("#action_table > tbody").append(row); 
    }

    // This function has nothing to do with the parsing simulation.
    // It adjusts the automaton graph size if it's too big.
    $(function(){
        var svg = $("#state-graph-canvas").find('svg')[0];
        if(svg.getAttribute('width') > $("#state-graph-canvas").attr('width')) {
            svg.setAttribute('width', '100%');
            svg.setAttribute('height', '100%');
        }
    });
</script>
{% endif %}
{% endblock %}
